/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 19, 2019, 2:50:36 PM
    Author     : JOHNY
*/
.sidemenu{
    color:#FF8C6E;
}
.sidemenu.mouseover{
    color:#982000;
    background-color: #FF8C6E
}
.sidemenu.mouseleave{
    color:#FF8C6E;
}
.sidemenu.active{
    color:#FFFFFF;
    border-right: 3pt solid #7EDC11 
}

/* Timeline */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}
